body {
    background-color: #ECF7FF;
    margin: 0 130px;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ECF7FF; 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #072AC8; /* Color de texto de los enlaces */
}

.contact-btn {
    background-color: #007bff; /* Color del botón Contact Us */
    color: #fff; /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.contact-btn:hover {
    background-color: #0056b3; /* Color del botón Contact Us al pasar el mouse */
}

.logo img {
    width: auto;
    max-width: 100%;
    height: auto;
}
/* Estilos específicos para la primera sección */

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left-content {
    flex: 1;
    margin-right: 20px;
    margin-top: 200px;
}

.right-content {
    flex: 1;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

h4 {
    font-weight: bold;
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.right-content img {
    width: 100%;
    height: auto;
    max-width: 570px;
    max-height: 650px;
}

.description {
    color: #072AC8;
}


